---
import logoImage from "@assets/images/logos/logo.png";
import instagramIcon from "@assets/icons/instagram.svg";
import Anchor from "./Anchor.astro";

import { Image } from "astro:assets";
import { links } from "../constants/links";
---

<div class="border-t-2 border-green"></div>
<footer class="space-x flex flex-col gap-12.5 pt-12.5">
  <Image src={logoImage} alt="..." width={312} height={200} />

  <div class="flex flex-col gap-2.5">
    {links.map((link) => <Anchor href={link.href}>{link.title}</Anchor>)}
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2.5">
      <h5 class="font-normal">Часы работы отдела бронирования:</h5>
      <h5 class="font-inter font-normal">
        С 9:00 до 21:00 <span class="text-secondary">без выходных</span>
      </h5>
    </div>
    <div class="flex flex-col gap-2.5">
      <h5 class="font-normal">Администратор лагеря</h5>
      <h5 class="font-inter font-normal">
        +7-909-475-59-13 <span class="text-secondary">(Наталья)</span>
      </h5>
    </div>
    <h5 class="font-normal">kshurta.info@gmail.com</h5>
    <Image src={instagramIcon} alt="instagram-icon" />
  </div>
</footer>
