---
import hillsSvg from "@assets/icons/hills.svg";
import { Image } from "astro:assets";
---

<article class="flex gap-1.5 items-center">
  <Image src={hillsSvg} alt="hills" />
  <h3><slot /></h3>
</article>
